@model IEnumerable<newSiteMVC.Models.tbl_UserControl>

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">              
                @Html.ActionLink("Home", "GetActionResultForPage", "Admin", new { id = "Home" }, new { @class = "list-group-item" })
                @Html.ActionLink("Awards", "GetActionResultForPage", "Admin", new { id = "Awards" }, new { @class = "list-group-item" })
                @Html.ActionLink("Charity", "GetActionResultForPage", "Admin", new { id = "Charity" }, new { @class = "list-group-item" })
            </div>
        </div>
        <div class="col-md-9" style="margin-top: -25px;">
            <br/>
            <h1>Update @Model.FirstOrDefault().PageId Page</h1>
            <br/><br/>
            @*<-----------------Table displaying the navbar data----------------->*@
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Edit Navbar Details
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @foreach (var item in Model.Where(item => !String.IsNullOrEmpty(item.PageNavbarTitle)))
                        {
                            @item.PageNavbarTitle.ToString()
                            ;
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var item in Model.Where(item => !String.IsNullOrEmpty(item.PageNavbarText)))
                        {
                            @item.PageNavbarText.ToString()
                            ;
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var item in Model.Where(item => !String.IsNullOrEmpty(item.PageNavbarText)))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "margin-right: 5px; min-width: 70px" })
                            @Html.HiddenFor(modelItem => item.Id)
                        }
                    </td>
                </tr>

                </tbody>
            </table>
            
            <br />
            <h2>Update @Model.FirstOrDefault().PageId Page Components</h2>
            <br /><br />
            <p>
                @Html.ActionLink("Create New", "Create", null, new {pageType = @Model.First().PageId, typeId = @Model.First().TypeId}, new {@class = "btn btn-warning"})

                @Html.ActionLink("Edit Section", "EditSection", new {id = @Model.First().Id}, new {@class = "btn btn-info"})
            </p>
            <br/>
        
            @using (Html.BeginForm("UpdateTableOrder", "Admin", FormMethod.Post))
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Order
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.MainText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Where(item => String.IsNullOrEmpty(item.PageNavbarTitle)))
                    {
                        <tr id="@item.Id">
                            <td class="priority">
                                @Html.EditorFor(modelItem => item.Priority, new { htmlAttributes = new { @class = "input-sm" , style = "width:55px" }})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MainText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>                          
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-info", style = "margin-bottom: 5px;min-width: 70px" })
                                @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn btn-success", style = "margin-bottom: 5px;min-width: 70px" })
                                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger", style = "margin-bottom: 5px;min-width: 70px" })
                                @Html.HiddenFor(modelItem => item.Id)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <input type="submit" value="Save Order" class="btn btn-primary"/>

            }
        </div>
        </div>
    </div>

