
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            @*<img src="/Img/logo.png" style="padding-left: -19px;width: 65px;margin-left: -380px;margin-bottom: 10px;margin-top: 10px;">*@
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">                      
                        <li>@Html.ActionLink("Home New", "Index", "Home", new { pageId = "Home" }, null)</li>
                        <li>@Html.ActionLink("Home Old", "Contact", "Home", new { pageId = "Home" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About ICC<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">About Us</a></li>
                        <li>@Html.ActionLink("Awards", "LoadOneColumnPageContent", "Pages", new { pageId = "Awards" }, null)</li>
                        <li>@Html.ActionLink("Charity", "LoadOneColumnPageContent", "Pages", new { pageId = "Charity" }, null)</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Events", "LoadOneColumnPageContent", "Pages", new { pageId = "Events" }, null)</li>
                        <li>@Html.ActionLink("In The News", "LoadOneColumnPageContent", "Pages", new { pageId = "InTheNews" }, null)</li>
                        <li>@Html.ActionLink("Testimonials", "LoadOneColumnPageContent", "Pages", new { pageId = "Testimonials" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Products<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Device Testing</a></li>
                        <li><a href="#">Vantiv VIABLE</a></li>
                        <li><a href="#">Host Simulation</a></li>
                        <li><a href="#">Training Cards</a></li>
                        <li><a href="#">Developer Tool</a></li>
                        <li><a href="#">Card Testing</a></li>
                    </ul>
                </li>
                <li><a href="#">Export</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EMV in the USA<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">About EMV</a></li>
                        <li><a href="#">Why Choose Us?</a></li>
                        <li>@Html.ActionLink("US Products", "LoadOneColumnPageContent", "Pages", new { pageId = "USProducts" }, null)</li>
                        <li><a href="#">Training Cards</a></li>
                        <li><a href="#">EMV VAR Qualification program</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ICC Support</a></li>
                        <li><a href="#">Vantiv Support</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Regional Offices</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Distributors</a></li>
                    </ul>
                </li>

                <li><a href="#">Client Area</a></li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @Html.Partial("_LoginPartial")                            
                        </ul>
                    </li>
                    
                }
            </ul>
        </div>
    </div>
</div>
