@model IEnumerable<newSiteMVC.Models.tbl_UserControl>

@foreach (var item in Model.Where(it => it.TypeId == "PopUpBanner" && it.Active == true))
{
    <div id="sticky" style="background-color: @item.BackgroundColour">
        <p style="text-align: center; margin-top: 10px; color: @item.TitleColour"><span class="glyphicon glyphicon-bell" style="color: @item.TitleColour"></span><a href="@item.UrlLink" style="text-decoration:none; color:@item.TitleColour;">@item.Title </a></p>
        @*<p style="text-align:center; "><a href="#" onclick="setCookie()" style="color: @item.TitleColour"class="button large hpbottom">x</a></p>*@
    </div>
}

<script type="text/javascript">
    function setCookie() {
        var today = new Date();
        today.setHours(today.getHours() + 1);
        document.cookie = 'check=testcookiess; expires=' + today + '; path=/';
    }
</script>