@model IEnumerable<newSiteMVC.Models.tbl_UserControl>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("~/Views/Home/Shared/_PopUpBanner.cshtml", Model)

<div id="intro" style="padding-top:40px">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="intro-text">
                        <img src="/Img/logo.png" style="height: 300px;box-shadow: 0px 0px 0px 6px;height:300px"/>      
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<%--------------------- Carousel ---------------------%>*@

@Html.Partial("~/Views/Home/Shared/_HomePageCarousel.cshtml", Model)

@*<%--------------------- Moving Image Background ---------------------%>*@

@Html.Partial("_MovingBackgroundImage")

@*<%--------------------- Imagepod section ---------------------%>*@

@*@Html.Partial("~/Views/Pages/Shared/_ImagePodComponent.cshtml", Model)*@ @* <------ Old Style Image pod*@

@Html.Partial("~/Views/Home/Shared/_OurProductsSection.cshtml", Model)

@*<%--------------------- About ICC section ---------------------%>*@

@Html.Partial("~/Views/Home/Shared/_AboutUsSection.cshtml", Model)


<section id="Partners" style="box-shadow: 0px 200px 200px 144px;">
    
    <div class="container">
        <br/><br/><br/>
        <div class="col-md-12 col-lg-offset-1">  
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img class="img-responsive customer-img" style="margin-bottom: 30px" src="~/Img/outro-emv.png" alt="">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img class="img-responsive customer-img" style="margin-bottom: 30px" src="~/Img/outro-export-champion.png" alt="">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img class="img-responsive customer-img" style="margin-bottom: 30px" src="~/Img/outro-ioe.jpg" alt="">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img class="img-responsive customer-img" style="margin-bottom: 30px" src="~/Img/outro-mag.png" alt="">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img class="img-responsive customer-img" style="margin-bottom: 30px" src="~/Img/outro-mastercard-vendor-program.png" alt="">
                </div>
            
        </div>
    </div>
</section>
